*,body{
    font-family: 'Open Sans', sans-serif;
}

.navbar-full {
    width: 100%;
    max-width: inherit;

    .logo {
        height: 77px;
        width: 155px;
        object-fit: cover;
    }
}

.vh-100{
    height: 100vh;
}