ul.mtree {
	opacity: 0;
	margin-left: 0;
	padding: 1.2em;

	ul {
		margin-left: 1em;
	}

	li {
		list-style: none;
	}

	a {
		@extend %mtree-transition;
		display: block;
	}

	li.mtree-node {
		> a {
			font-weight: bold;
		}
	}
}

%mtree-transition {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

ul.mtree.bubba {
	ul {
		margin-left: 0;
	}
	ul li {
		font-size: 0.9em;
	}
	.mtree-node.mtree-closed,li.mtree-active,.mtree-open{
		position: relative;
	}
	li.mtree-node > a:after {
		content: "›";
		margin-left: 0.5em;
		font-weight: normal;
    }
	li.mtree-node > a {
		font-weight: bold;
		text-transform: upperCase;
    }
    li.mtree-node > a > button{
        position: absolute;
        top: 0px;
        height: 34px;
        &.create{
            right: 0%;
        }
        &.edit{
            right: 2%;
        }
        &.delete{
            right: 4.4%;
        }
	}
	ul.mtree-level-2 {
		li{
			position: relative;
			> a > button{
				position: absolute;
				top: 0px;
				height: 34px;
				&.create{
					right: 0%;
				}
				&.edit{
					right: 2.35%;
				}
				&.delete{
					right: 4.4%;
				}
			}
		}
		
	}
	> li {
		border-bottom: 1px solid #ddd;
	}
	> li:last-child {
		border-bottom: none;
	}
	li:last-child > a {
		border: none;
	}
	> li.mtree-open > a {
		background: #ddd;
	}
	li > a:hover {
		background: #ddd;
	}
	li.mtree-active > a {
		background: #ffc000;
		color: #fff;
	}
	$indent: 1em;
	a {
		padding: 7px 0px 7px $indent;
	}
	li li > a {
		padding-left: $indent * 2;
	}
	li li li > a {
		padding-left: $indent * 3;
	}
}

.mtree-demo {
	.mtree {
		background: #eee;
		margin: 20px auto;
		max-width: 320px;
		border-radius: 3px;
	}
}

.mtree-skin-selector {
	text-align: center;
	background: #eee;
	padding: 10px 0 15px;
	li {
		display: inline-block;
		float: none;
	}
	button {
		padding: 5px 10px;
		margin-bottom: 1px;
		background: #bbb;
		&:hover {
			background: #999;
		}
		&.active {
			background: #999;
			font-weight: bold;
		}
		&.csl.active {
			background: #ffc000;
		}
	}
}
